.adminFormsDiv {
    font-family: Inter;
}

.rightContentsDiv {
    grid-row: 2 / span 12;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    padding-left : 20px;
    max-height : 600px;
}

.addFormButtonDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    padding-top: 5px;
    margin-right: 20px;
}

.addFormButton {
    float: right;
    background-color: #4DA1A9;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #F6F4F0;
}

.searchDiv {
    grid-row: 3 / span 3;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0px 0px 10px 10px;
}

.searchSubDiv {
    grid-column: 1 / span 2;
}

.entityLabel {
    float: left;
    color : #959595;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-left: 12px;
}

.searchInputDiv {
    grid-column: 10 / span 12;
    padding: 20px;
    margin: 10px 0px 20px 30px;
}

.searchInput {
    padding: 10px 20px 10px 20px;
    width: 100%;
    float: right;
    border: none;
    font-size: 17px;
    background-color: #F5F5F5;
    border-radius: 50px;
    color: #959595;
}

.tableDiv {
    grid-column: 1 / span 1;
    grid-row: 5/ span 10;
    width: 97%;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.formTable {
    margin: 10px;
    width: 100%;
}

table, tr, th, td {
    border-collapse: collapse;
    color: #232323;
}


th {
    background-color: #F5F5F5;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding : 10px 0px 10px 10px;
}

#formName {
    width: 30%;
}
#formDescription {
    width : 50%;
}
#formPoints {
    width: 20%;
}
#formStatus {
    width: 20%;
}
#formActionId  {
    width : 2%;
}

tr {
    padding: 16px 10px 16px 10px;
    gap: 10px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

tr:nth-child(even) {
    --parent-bg-color: #EEF6F7;
    background-color: var(--parent-bg-color);
}

td {
    padding : 10px 50px 10px 10px;
}

.formTableEntryCountDiv {
    grid-column: 1 / span 1;
    grid-row: 11/ span 12;
    margin-top: 100px;
    color : #2C2C2C;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 0px 25px 0px 20px;
}

.showingLabel{
    float: left;
    margin-top: 10px;
    color : #2C2C2C;
    font-size: 16px ;
}

.paginationLabel {
    float : right;
    margin-bottom: 5px;
}


/* Dropdown Button */
.dropbtn {
    color: #2C2C2C;
    padding: 10px 16px 25px 16px;
    font-size: 16px;
    border: none;
    background-color: #FFFFFF;
    border: 1.5px solid #E0E0E0;
    width : 150px;
    height: 25px;
    text-align: left;
    border-radius: 5px;
  }

.custom-select-div {
    grid-column: 3 / span 4;
    width : 90%;
    height: 30px;
    padding-top: 20px;
}
.custom-select {
    width: 95%;
    height: 30px;
    border: 1px solid #BFBFBF;
    color: #423A8E;
}

.formAction-dropdown {
    appearance: none;
    border: none;
    width: 22px;
    height: 22px;
    background-image: url("../../../images/FormTableDropdwn.png");
    background-color: var(--parent-bg-color);
}

.active-form {
    color: #12AA85;
    padding-right: 5px;
  }

.deleted-form {
    color: #D93535;
    padding-right: 5px;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    font-size: 15px;
}

.pagination .active {
    font-weight: bold;
    color: #F6F4F0;
    background-color: #4DA1A9;
    width: 18px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.pagination li:hover {
    cursor: pointer;
}