.surveyFormDiv {
    overflow-y: scroll;
    margin : 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #ccc;
    font-family: Inter;
    color: #423A8E;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    min-height: 600px;
}

.sf_backLinkDiv {
    float: left;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin: 0px 0px 0px 10px;
}

.sf_backLink {
    text-decoration: none;
}

.sf_surveyDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 11;
    margin: auto;
    margin-top: 10px;
}

#sf_title {
    color: #423A8E;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.sf_descriptionDiv {
    color : #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.sf_index {
    color : #423A8E;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.sf_questDiv {
    margin-bottom: 20px;
    text-align: center;
}

.sf_questTitle {
    color : #423A8E;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.sf_addForm_saveCancelbuttonsDiv {
    grid-column: 1 / span 1;
    margin: auto;
}

.sf_saDiv {
    margin-bottom: 20px;
    text-align: center;
}

.sf_mcqDiv {
    color :#423A8E;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    margin-bottom: 20px;
    text-align: center;
    padding-right: 20px;
}

.sf-saInput-class {
    background-color : #F0EEEE;
    color : #423A8E;
    border: 1px solid #ABABAB;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}

#sf-mcqLabel {
    text-align: center;
}

#sf_addForm_savebtn {
    color: #FFFFFF;
    background-color: #4DA1A9;
    font-weight: 600;
    height: 40px;
    width: 90px;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
}

#sf_addform_cancelbtn {
    border: 1px solid #4DA1A9;
    color: #4DA1A9;
    background-color: #FFFFFF;
    font-weight: 600;
    height: 40px;
    width: 90px;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    margin-left: 20px;
}