.viewFormDiv {
    margin : 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #ccc;
    font-family: Inter;
    color: #423A8E;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    min-height: 600px;
}

.vf_backLinkDiv {
    float: left;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.vf_backLink {
    text-decoration: none;
}

.vf_surveyDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 11;
    margin: 10px;
}

#vf_title {
    color: #423A8E;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.vf_descriptionDiv {
    color : #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.vf_index {
    color : #423A8E;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.vf_questDiv {
    margin-bottom: 20px;
    text-align: center;
}

.vf_questTitle {
    color : #423A8E;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.vf_saDiv {
    margin-bottom: 20px;
    text-align: center;
}

.vf_mcqDiv {
    color :#423A8E;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding-right: 20px;
}

.vf-saInput-class {
    background-color : #F0EEEE;
    color : #423A8E;
    border: 1px solid #ABABAB;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}

#vf_mcqLabel {
    text-align: center;
}